@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Geist;
}

@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    src: local(''), 
			url('/fonts/GeistVariableVF.woff2') format('woff2'),
			url('/fonts/GeistVariableVF.ttf') format('truetype'),
}